@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth;
  scroll-padding-block: 10rem;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 1.5;
  color:
    #D3C00D;
}